[submodule "libs/DiamondBank-OG"]
	path = libs/DiamondBank-OG
	url = https://github.com/true-og/DiamondBank-OG
[submodule "libs/GxUI-OG"]
	path = libs/GxUI-OG
	url = https://github.com/true-og/GxUI-OG
[submodule "libs/Utilities-OG"]
	path = libs/Utilities-OG
	url = https://github.com/true-og/Utilities-OG
